[Unit]
Description=Yvanietec Django Application
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/var/www/yvanietec
Environment="PATH=/var/www/yvanietec/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=project.settings_production"
ExecStart=/var/www/yvanietec/venv/bin/gunicorn --config gunicorn.conf.py project.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
